<div style="margin: 20px;">

    <!-- Row 1 -->
    <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">

        <!-- Card 1 -->
        <div
            style="background: #fff; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display: flex; padding: 20px; width: 48%; margin: 20px;">
            <div style="flex: 1; font-size: 20px;">
                <div>
                    <div>
                        <p>GSG</p>
                        <p>{{ gyro[0] ? gyro[0].value : "" }}</p>
                        <p>x axis</p>
                    </div>
                    <div>
                        <p>GSG</p>
                        <p>{{ gyro[1] ? gyro[1].value : "" }}</p>
                        <p>y axis</p>
                    </div>
                    <div>
                        <p>GSG</p>
                        <p>{{ gyro[2] ? gyro[2].value : "" }}</p>
                        <p>z axis</p>
                    </div>
                </div>
            </div>
            <div style="flex: 2;">
                <iframe
                    src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705850375678&to=1705871975678&panelId=1"
                    width="100%" height="300" frameborder="0"></iframe>
            </div>
        </div>

        <!-- Card 2 -->
        <div
            style="background: #fff; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display: flex; padding: 20px; width: 48%;  margin: 20px;">
            <div style="flex: 1; font-size: 20px; ">
                <p>GDHT</p>
                <p>{{ gdht[0] ? gdht[0].value : "" }}C</p>
                <p>{{ gdht[1] ? gdht[1].value : "" }}%</p>
            </div>
            <div style="flex: 2;">
                <iframe
                    src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705851481111&to=1705873081111&panelId=7"
                    width="100%" height="300" frameborder="0"></iframe>
            </div>
        </div>

    </div>

</div>

<!-- Row 2 -->
<div style="display: flex; justify-content: space-between; margin-bottom: 20px;">

    <!-- Card 3 -->
    <div
        style="background: #fff; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display: flex; padding: 20px; width: 48%;  margin: 20px;">
        <div style="flex: 1; font-size: 20px; ">
            <p>RDHT3</p>
            <p>{{ dht3[0] ? dht3[0].value : "" }}C</p>
            <p>{{ dht3[1] ? dht3[1].value : "" }}%</p>
        </div>
        <div style="flex: 2;">
            <iframe
                src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705852433580&to=1705874033580&panelId=4"
                width="100%" height="300" frameborder="0"></iframe>
        </div>
    </div>

    <!-- Card 4 -->
    <div
        style="background: #fff; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display: flex; padding: 20px; width: 48%;  margin: 20px;">
        <div style="flex: 1; font-size: 20px;">
            <p>DPIR2</p>

            <p>{{ dpir2.datetime }}</p>
            <p>{{ dpir2.value ? dpir2.value : "none" }}</p>
        </div>
        <div style="flex: 2;">
            <iframe
                src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705852861226&to=1705874461226&panelId=6"
                width="100%" height="300" frameborder="0"></iframe>
        </div>
    </div>

</div>

<!-- Row 3 -->
<div style="display: flex; justify-content: space-between;">

    <!-- Card 5 -->
    <div
        style="background: #fff; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display: flex; padding: 20px; width: 48%;  margin: 20px;">
        <div style="flex: 1; font-size: 20px;">
            <p>PIR3</p>

            <p>{{ rpir3.datetime }}</p>
            <p>{{ rpir3.value ? rpir3.value : "none" }}</p>
        </div>
        <div style="flex: 2;">
            <iframe
                src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705852433580&to=1705874033580&panelId=4"
                width="100%" height="300" frameborder="0"></iframe>
        </div>
    </div>

    <!-- Card 6 -->
    <div
        style="background: #fff; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display: flex; padding: 20px; width: 48%;  margin: 20px">
        <div style="flex: 1; font-size: 20px; ">
            <div><i></i></div>
            <p>DS2</p>
            <p>{{ "ENTERED" ? ds2.value == "pressed" : "CLOSED"}}</p>
        </div>
        <div style="flex: 2;">
            <iframe
                src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705852566267&to=1705874166267&panelId=5"
                width="100%" height="300" frameborder="0"></iframe>
        </div>
    </div>



</div>

<div style="display: flex; justify-content: space-between;">

    <div
        style="background: #fff; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display: flex; padding: 20px; width: 48%;  margin: 20px">
        <div style="flex: 1; font-size: 20px; ">
            <p>DUS2</p>
            <div>
                <p>{{ dus2.datetime }}</p>
                <p>{{ dus2.value ? dus2.value + " cm" : "none" }}</p>
            </div>
        </div>
        <div style="flex: 2;">
            <iframe
                src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705852566267&to=1705874166267&panelId=5"
                width="100%" height="300" frameborder="0"></iframe>
        </div>
    </div>
</div>