<div style="margin: 20px;">

    <!-- Row 1 -->
    <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">

        <!-- Card 1 -->
        <div
            style="background: #fff; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display: flex; padding: 20px; width: 48%; margin: 20px;">
            <div style="flex: 1; font-size: 20px;">
                <div>
                    <div>
                        <p>GSG</p>
                        <p>{{ gyro[0] ? gyro[0].value : "" }}</p>
                        <p>x axis</p>
                    </div>
                    <div>
                        <p>GSG</p>
                        <p>{{ gyro[1] ? gyro[1].value : "" }}</p>
                        <p>y axis</p>
                    </div>
                    <div>
                        <p>GSG</p>
                        <p>{{ gyro[2] ? gyro[2].value : "" }}</p>
                        <p>z axis</p>
                    </div>
                </div>
            </div>
            <div style="flex: 2;">
              <iframe src="http://localhost:3000/d-solo/d95dc9e5-0279-415c-93b6-46af92f87875/kt2?orgId=1&from=1706183360738&to=1706183660739&panelId=33" width="450" height="200" frameborder="0"></iframe>
            </div>
        </div>

        <!-- Card 2 -->
        <div
            style="background: #fff; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display: flex; padding: 20px; width: 48%;  margin: 20px;">
            <div style="flex: 1; font-size: 20px; ">
                <p>GDHT</p>
                <p>{{ gdht[0] ? gdht[0].value : "" }}C</p>
                <p>{{ gdht[1] ? gdht[1].value : "" }}%</p>
            </div>
            <div style="flex: 2;">
              <iframe src="http://localhost:3000/d-solo/d95dc9e5-0279-415c-93b6-46af92f87875/kt2?orgId=1&from=1706183376999&to=1706183676999&panelId=23" width="450" height="200" frameborder="0"></iframe>
            </div>
        </div>

    </div>

</div>

<!-- Row 2 -->
<div style="display: flex; justify-content: space-between; margin-bottom: 20px;">

    <!-- Card 3 -->
    <div
        style="background: #fff; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display: flex; padding: 20px; width: 48%;  margin: 20px;">
        <div style="flex: 1; font-size: 20px; ">
            <p>RDHT3</p>
            <p>{{ dht3[0] ? dht3[0].value : "" }}C</p>
            <p>{{ dht3[1] ? dht3[1].value : "" }}%</p>
        </div>
        <div style="flex: 2;">
          <iframe src="http://localhost:3000/d-solo/d95dc9e5-0279-415c-93b6-46af92f87875/kt2?orgId=1&from=1706183398255&to=1706183698255&panelId=26" width="450" height="200" frameborder="0"></iframe>
        </div>
    </div>

    <!-- Card 4 -->
    <div
        style="background: #fff; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display: flex; padding: 20px; width: 48%;  margin: 20px;">
        <div style="flex: 1; font-size: 20px;">
            <p>DPIR2</p>

            <p>{{ dpir2.datetime }}</p>
            <p>{{ dpir2.value ? dpir2.value : "none" }}</p>
        </div>
        <div style="flex: 2;">
          <iframe src="http://localhost:3000/d-solo/d95dc9e5-0279-415c-93b6-46af92f87875/kt2?orgId=1&from=1706183453483&to=1706183753483&panelId=22" width="450" height="200" frameborder="0"></iframe>
        </div>
    </div>

</div>

<!-- Row 3 -->
<div style="display: flex; justify-content: space-between;">

    <!-- Card 5 -->
    <div
        style="background: #fff; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display: flex; padding: 20px; width: 48%;  margin: 20px;">
        <div style="flex: 1; font-size: 20px;">
            <p>PIR3</p>

            <p>{{ rpir3.datetime }}</p>
            <p>{{ rpir3.value ? rpir3.value : "none" }}</p>
        </div>
        <div style="flex: 2;">
          <iframe src="http://localhost:3000/d-solo/d95dc9e5-0279-415c-93b6-46af92f87875/kt2?orgId=1&from=1706183475474&to=1706183775474&panelId=30" width="450" height="200" frameborder="0"></iframe>
        </div>
    </div>

    <!-- Card 6 -->
    <div
        style="background: #fff; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display: flex; padding: 20px; width: 48%;  margin: 20px">
        <div style="flex: 1; font-size: 20px; ">
            <div><i></i></div>
            <p>DS2</p>
            <p>{{ "ENTERED" ? ds2.value == "pressed" : "CLOSED"}}</p>
        </div>
        <div style="flex: 2;">
          <iframe src="http://localhost:3000/d-solo/d95dc9e5-0279-415c-93b6-46af92f87875/kt2?orgId=1&from=1706183499235&to=1706183799236&panelId=16" width="450" height="200" frameborder="0"></iframe>
        </div>
    </div>



</div>

<div style="display: flex; justify-content: space-between;">

    <div
        style="background: #fff; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display: flex; padding: 20px; width: 48%;  margin: 20px">
        <div style="flex: 1; font-size: 20px; ">
            <p>DUS2</p>
            <div>
                <p>{{ dus2.datetime }}</p>
                <p>{{ dus2.value ? dus2.value + " cm" : "none" }}</p>
            </div>
        </div>
        <div style="flex: 2;">
          <iframe src="http://localhost:3000/d-solo/d95dc9e5-0279-415c-93b6-46af92f87875/kt2?orgId=1&from=1706183523938&to=1706183823938&panelId=20" width="450" height="200" frameborder="0"></iframe>
        </div>
    </div>
</div>
